//! **************************************************************************
// Written by: Map I.31 on Fri Jan 19 13:17:03 2007
//! **************************************************************************

SCHEMATIC START;
COMP "AN<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "CLK" LOCATE = SITE "T9" LEVEL 1;
COMP "RESET" LOCATE = SITE "L13" LEVEL 1;
COMP "STRTSTOP" LOCATE = SITE "M13" LEVEL 1;
COMP "SEG_DP" LOCATE = SITE "P16" LEVEL 1;
COMP "SEG_A" LOCATE = SITE "E14" LEVEL 1;
COMP "SEG_B" LOCATE = SITE "G13" LEVEL 1;
COMP "SEG_C" LOCATE = SITE "N15" LEVEL 1;
COMP "SEG_D" LOCATE = SITE "P15" LEVEL 1;
COMP "SEG_E" LOCATE = SITE "R16" LEVEL 1;
COMP "SEG_F" LOCATE = SITE "F13" LEVEL 1;
COMP "SEG_G" LOCATE = SITE "N16" LEVEL 1;
PIN DCM1_1/DCM_INST_pins<20> = BEL "DCM1_1/DCM_INST" PINNAME CLKIN;
TIMEGRP CLK_GROUP = PIN "DCM1_1/DCM_INST_pins<20>";
TIMEGRP DCM1_1_CLKFX_BUF = BEL "CLKDIV262K_1/div_32_15" BEL
        "CLKDIV262K_1/Mshreg_div_32_15/SRL16E" BEL "CLKDIV262K_1/div_32_0";
TIMEGRP DCM1_1_CLK0_BUF = BEL "LEDCONTROL_1/cnt_0" BEL "LEDCONTROL_1/cnt_1"
        BEL "LEDCONTROL_1/cnt_2" BEL "LEDCONTROL_1/cnt_3" BEL
        "LEDCONTROL_1/cnt_4" BEL "LEDCONTROL_1/cnt_5" BEL "LEDCONTROL_1/cnt_6"
        BEL "LEDCONTROL_1/cnt_7" BEL "LEDCONTROL_1/cnt_8" BEL
        "LEDCONTROL_1/cnt_9" BEL "LEDCONTROL_1/cnt_10" BEL
        "LEDCONTROL_1/cnt_11" BEL "LEDCONTROL_1/cnt_12" BEL
        "LEDCONTROL_1/cnt_13" BEL "LEDCONTROL_1/cnt_14" BEL
        "LEDCONTROL_1/cnt_15" BEL "LEDCONTROL_1/SEVEN_SEG_0" BEL
        "LEDCONTROL_1/SEVEN_SEG_1" BEL "LEDCONTROL_1/SEVEN_SEG_2" BEL
        "LEDCONTROL_1/SEVEN_SEG_3" BEL "LEDCONTROL_1/SEVEN_SEG_4" BEL
        "LEDCONTROL_1/SEVEN_SEG_5" BEL "LEDCONTROL_1/SEVEN_SEG_6" BEL
        "LEDCONTROL_1/SEVEN_SEG_7";
TIMEGRP display_grp = BEL "LEDCONTROL_1/SEG_DP" BEL "LEDCONTROL_1/SEG_A" BEL
        "LEDCONTROL_1/SEG_B" BEL "LEDCONTROL_1/SEG_C" BEL "LEDCONTROL_1/SEG_D"
        BEL "LEDCONTROL_1/SEG_E" BEL "LEDCONTROL_1/SEG_F" BEL
        "LEDCONTROL_1/SEG_G";
TS_CLK = PERIOD TIMEGRP "CLK_GROUP" 20 ns HIGH 50%;
TS_DCM1_1_CLK0_BUF = PERIOD TIMEGRP "DCM1_1_CLK0_BUF" TS_CLK HIGH 50%;
TS_DCM1_1_CLKFX_BUF = PERIOD TIMEGRP "DCM1_1_CLKFX_BUF" TS_CLK / 0.52 HIGH
        50%;
TIMEGRP "display_grp" OFFSET = OUT 5 ns AFTER COMP "CLK";
SCHEMATIC END;
